[submodule "submodules/aiortc"]
	path = submodules/aiortc
	url = https://github.com/aiortc/aiortc.git
[submodule "submodules/python-socketio"]
	path = submodules/python-socketio
	url = https://github.com/miguelgrinberg/python-socketio.git
[submodule "submodules/examples"]
	path = submodules/examples
	url = https://github.com/pixijs/examples.git
[submodule "submodules/AsepriteScripts"]
	path = submodules/AsepriteScripts
	url = https://github.com/PKGaspi/AsepriteScripts.git
[submodule "submodules/samples-server"]
	path = submodules/samples-server
	url = https://github.com/mdn/samples-server.git
[submodule "submodules/multiplayer-game-with-javascript"]
	path = submodules/multiplayer-game-with-javascript
	url = https://github.com/servetgulnaroglu/multiplayer-game-with-javascript.git
[submodule "submodules/smash"]
	path = submodules/smash
	url = https://github.com/guillaume-gouchon/smash.js.git
[submodule "submodules/matter-pixi"]
	path = submodules/matter-pixi
	url = https://github.com/celsowhite/matter-pixi.git
[submodule "submodules/matter-js"]
	path = submodules/matter-js
	url = https://github.com/liabru/matter-js.git
[submodule "submodules/stats"]
	path = submodules/stats
	url = https://github.com/mrdoob/stats.js.git
[submodule "submodules/pixi-html-element-wrapper"]
	path = submodules/pixi-html-element-wrapper
	url = https://github.com/EneaEntertainment/pixi-html-element-wrapper.git
