@font-face {
    font-family: 'space';
    src: url('font/space.ttf');
}

#useFont {
    font-family: 'space';
    font-size: "0px";
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}